.navbar-lewagon {
  justify-content: space-between;
  background: white;

}

.navbar-lewagon h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


